body{
    background-color: gray;
    font-family: 'Poppins', sans-serif;
  }
  
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }
  
  .ps{
    margin-left: 25px;
  }
  
  .cancel{
    background:gray;
    border-radius: 3px;
    display:inline;
    float: right;
    padding: 8px 5px;
  }
  
  .confirm{
    background: blue;
    color: white;
    border-radius: 3px;
    display:inline;
    float: right;
    padding: 8px 5px;
  }
  
  .message{
    text-align: center;
    color:red;
  }
  